<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <tx:annotation-driven />
<!--    <tx:advice id="transactionAdvice" transaction-manager="transactionManager">-->
<!--        <tx:attributes>-->
<!--            <tx:method name="get*" read-only="true"/>-->
<!--            <tx:method name="*"/>-->
<!--        </tx:attributes>-->
<!--    </tx:advice>-->

<!--    <aop:config>-->
<!--        <aop:advisor advice-ref="transactionAdvice" pointcut="bean(*Service)"/>-->
<!--    </aop:config>-->

    <bean id="userService" class="ch6.step8.UserServiceImpl">
        <constructor-arg ref="userDao"/>
        <constructor-arg ref="testUserLevelUpgradePolicy"/>
        <constructor-arg ref="mailSender"/>
    </bean>

    <bean id="testUserService" class="ch6.step8.UserServiceTest$TestUserService">
        <constructor-arg ref="userDao"/>
        <constructor-arg ref="testUserLevelUpgradePolicy"/>
        <constructor-arg ref="mailSender"/>
    </bean>

    <bean id="mailSender" class="ch5.step2.DummyMailSender"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userLevelUpgradePolicy" class="ch5.step2.UserLevelUpgradeDefault"/>
    <bean id="testUserLevelUpgradePolicy" class="ch6.step8.UserServiceTest$TestUserLevelUpgradePolicy"
          parent="userLevelUpgradePolicy">
    </bean>

    <bean id="userDao" class="ch5.step2.UserDaoJdbc">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/springtoby"/>
        <property name="username" value="sunlee"/>
        <property name="password" value="pass"/>
    </bean>

</beans>