<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd"
        >
    <bean id="dataSourceRouter" class="ch6.ReadOnlyRoutingDataSource">
        <property name="targetDataSources">
            <map>
                <entry key="READWRITE" value-ref="masterDataSource"/>
                <entry key="READONLY" value-ref="readOnlyDataSource"/>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="masterDataSource"/>
    </bean>
</beans>